
# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio captures folder
captures/

# Android Studio
*.iml
/projectFilesBackup/

# IDEA files
/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/vcs.xml
!/.idea/encodings.xml
/reports/
